@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very_dark: hsl(217, 19%, 35%);
    --desaturated_dark: hsl(214, 17%, 51%);
    --grayish_blue: hsl(212, 23%, 69%);
    --light_grayish: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--light_grayish);
    font-family: 'Manrope', sans-serif;    
    font-weight: 500;
    color: var(--very_dark);
    font-size: 13px;
}

.card {
    background-color: #fff;
    width: 330px;
    margin: auto;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_top {
    height: 220px;
    overflow: hidden;
}

.card_top img{
    width: 100%;
}

.card_content {
    position: relative;
    height: 330px;
    padding: 2rem 2rem 1rem;
}

.card_content h1{
    font-size: 1rem;
    font-weight: 700;
}

.card_content > p{
    margin-top: 1rem;
    font-size: .9rem;
    color: var(--desaturated_dark);
    line-height: 1.5rem;
    font-weight: 500;
}

.card_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

.card_profile {
    margin-left: 2rem;
    display: flex;
    align-items: center;    
    position: absolute;
    z-index: 0;
}

.card_profile #photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon_share {
    background-color: var(--light_grayish);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    margin:auto 2rem;
    padding: 0.6rem;
    z-index: 2;
    cursor: pointer;
}

.profile {
    margin-left: 1rem;
}

.profile h2 {
    font-size: .9rem;
    font-weight: 700;
}

.profile p {
    margin-top: .2rem;
    font-size: .8rem;
    font-weight: 500;
    color: var(--grayish_blue);
}

.share {    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--very_dark);
    z-index: 1;
}

.share h3 {
    margin-left: 2rem;
    letter-spacing: .4rem;
    font-size: .8rem;
    font-weight: 500;
    color: var(--grayish_blue);
}

.share img {
    margin: 0 .6rem;
}

.share img {
    width: 20px;
    height: 20px;
}

.active {
    background-color: var(--desaturated_dark);
    color: #fff;
}

.none{
    display: none;
}

@media screen and (min-width: 610px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        flex-direction: row;
        width: 606px;   
        height: 250px; 
        margin: 0;
        box-shadow: 1px 1px 50px rgba(0,0,0,0.1);
        overflow: visible;
    }

    .card_top {
        width: 246px;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card_top img {
        height: 100%;
        width: 300px;
    }

    .card_content {
        height: 100%;
        width: 360px;
        margin: 0;        
    }

    .card_content p {
        margin-top: .5rem;
        font-size: .7rem;        
        line-height: 1.1rem;
    }

    .card_bottom {
        position: static;
    }

    .card_profile {
        margin: 0;
    }

    .profile p {
        margin-top: 0;
    }

    .share {
        position: absolute;
        top: 44%;
        left: 55%;
        z-index: 9;
        height: 50px;
        width: 220px;
        padding: 1rem 1.4rem;
        justify-content: space-evenly;
        border-radius: 10px;
        z-index: 9;
        box-shadow: 0 5px 30px rgba(0,0,0,0.2);
    }

    .share h3 {
        font-size: .7rem;
        margin-left: 0;
    }

    .share a {
        z-index: 1;
    }

    .share a img {
        margin: 0 0 0 1rem;
    }
    
    .share::before{
        content: '';
        position: absolute;
        top: 50%;
        width: 30px;
        height: 30px;
        background-color: var(--very_dark);
        transform: rotate(45deg);    
        z-index: 0;
    }

    .icon_share {
        top: auto;
        bottom: auto;        
    }
}